html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: 'Source Sans Pro', 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  line-height: 2.4vmax;
}

footer div{
  position: relative;
  z-index: 10;
}

footer p{
  margin:0;
  text-align: center;
  color: white;
  font-size: 1.2vw;
}